<% include ../_navbar_top %>
<% include ../_navbar_bottom %>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-primary">
				<div class="panel-heading text-left">
					クエスト
				</div>
				<% if (chara1) { %>
				<div class="panel-body">
					<img src="/images/character/<%= chara1.name %>/icon.jpg" alt="<%= chara1.name %>" data-toggle="popover" data-content="<%= chara1.serif %>" data-placement="right" class="serif pull-left" />
				</div>
				<% } %>
				<% if (chara2) { %>
				<div class="panel-body">
					<img src="/images/character/<%= chara2.name %>/icon.jpg" alt="marisa" data-toggle="popover" data-content="<%= chara2.serif %>" data-placement="left" class="serif pull-right" />

				</div>
				<% } %>

				<div class="panel-body text-center">
					<a href="/quest/go?chapter=<%= chapter %>&paragraph=<%= Number(paragraph) + 1 %>"  class="btn btn-info">クエストを進める</a>
				</div>


			</div>

			<!-- TODO: ここにクエスト結果 -->

			<div class="panel panel-primary">
				<div class="panel-heading text-left">
					ステータス
				</div>
				<div class="panel-body">
					レベル：1<br />
					所持カード数：1/50<br />
					AP：100/100<br/>
					所持金：100銭<br />
				</div>
			</div>
		</div>
	</div>
</div>

